Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
MyUnityFrameWork.sln
!*.exe
!*.dll
/Library
/Assets/AssetBundles
/Assets/AssetBundles.meta
/obj
/AssetBundles
/.vs
/Temp
/Assets/!assets
/Assets/!assets.meta
/Build