Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
MyUnityFrameWork.sln
!*.exe
!*.dll
*.csproj
/Library
/Assets/AssetBundles
/Assets/AssetBundles.meta
/obj
/AssetBundles
/.vs
/Temp
/Assets/StreamingAssets/AssetBundles/
/Assets/StreamingAssets/version.json
/Assets/!assets
/Assets/!assets.meta
/Build
/Hot
/persistentDataPath
/.svn
Tools/JekinsTool/log.txt
Tools/JekinsTool/log.txt
Tools/JekinsTool/log.txt
.idea/.idea.MyUnityFrameWork/.idea/workspace.xml
.idea/.idea.MyUnityFrameWork/.idea/contentModel.xml
.idea/.idea.MyUnityFrameWork/.idea/workspace.xml
Assets/GameData/Scripts/.idea/vcs.xml
Assets/GameData/Scripts/.idea/workspace.xml
.idea/.idea.MyUnityFrameWork/.idea/contentModel.xml
.idea/.idea.MyUnityFrameWork/.idea/contentModel.xml
.idea/.idea.MyUnityFrameWork/.idea/workspace.xml
.idea
*.csproj
ShaderLearn.csproj
ShaderLearn.csproj
Game.csproj
Game.csproj
